@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'lato', sans-serif;
}


h2 {
  font-size: 3rem;
  /*color: #3f3d56;*/
  color: #2b322a;
  font-weight: bold;
  padding: 3rem;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#title {
  display: none;
}

.walking {
  font-size: 1.8rem;
  margin-bottom: 50px;
  color:#bb7402;
  font-style: italic;
  letter-spacing: 2px;
}

.countdown {
  display: none;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 600px) {

  .day,
  .hour,
  .minute,
  .second,
  span{
  font-size: 2rem
}

}

.day,
.hour,
.minute,
.second,
span{
  font-size: 3rem
}

img{
  max-width: 75%
}


footer {
  text-align: center;
  color: #888;
  padding:2rem;
}
